<h1>Hello World!</h1>
<a href="index">Hello from link 1</a></br>
<%= link_to("Hello from link 2", {:action => "hello"}) %></br>
<%= link_to("Hello with parameters", {:action => "hello", :id => "5", :page => "20"}) %>
this is the the current one im working on 
the first one is in sites/imported_simple_cms folder and this one is directly in sites directory sites/simple_cms

<%= link_to('Roar', '#', :onclick => "jsRoar('Javascript'); return true;") %>